// bordered + pulled icons
// -------------------------

.#{${{ prefix }}-css-prefix}-border {
  border-color: var(--#{${{ prefix }}-css-prefix}-border-color, #{${{ prefix }}-border-color});
  border-radius: var(--#{${{ prefix }}-css-prefix}-border-radius, #{${{ prefix }}-border-radius});
  border-style: var(--#{${{ prefix }}-css-prefix}-border-style, #{${{ prefix }}-border-style});
  border-width: var(--#{${{ prefix }}-css-prefix}-border-width, #{${{ prefix }}-border-width});
  padding: var(--#{${{ prefix }}-css-prefix}-border-padding, #{${{ prefix }}-border-padding});
}

.#{${{ prefix }}-css-prefix}-pull-left {
  float: left;
  margin-right: var(--#{${{ prefix }}-css-prefix}-pull-margin, #{${{ prefix }}-pull-margin});
}

.#{${{ prefix }}-css-prefix}-pull-right {
  float: right;
  margin-left: var(--#{${{ prefix }}-css-prefix}-pull-margin, #{${{ prefix }}-pull-margin});
}
