// inverse icons colors (extracted from _stacked.scss)
// -------------------------

.#{${{ prefix }}-css-prefix}-inverse {
  color: var(--#{${{ prefix }}-css-prefix}-inverse, #{${{ prefix }}-inverse});
}
