// pulled icons (extracted from _bordered-pulled.scss)
// -------------------------

.#{${{ prefix }}-css-prefix}-pull-left {
  float: left;
  margin-right: var(--#{${{ prefix }}-css-prefix}-pull-margin, #{${{ prefix }}-pull-margin});
}

.#{${{ prefix }}-css-prefix}-pull-right {
  float: right;
  margin-left: var(--#{${{ prefix }}-css-prefix}-pull-margin, #{${{ prefix }}-pull-margin});
}
