// rotating icons (extracted from _rotated-flipped.scss)
// -------------------------

.#{${{ prefix }}-css-prefix}-rotate-90 {
  transform: rotate(90deg);
}

.#{${{ prefix }}-css-prefix}-rotate-180 {
  transform: rotate(180deg);
}

.#{${{ prefix }}-css-prefix}-rotate-270 {
  transform: rotate(270deg);
}

.#{${{ prefix }}-css-prefix}-rotate-by {
  transform: rotate(var(--#{${{ prefix }}-css-prefix}-rotate-angle, none));
}
