/*!
 * Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Code: MIT License)
 * Copyright 2022 Fonticons, Inc.
 */

@import 'functions';
@import 'variables';
@import 'mixins';
@import 'core';
{% if 'sizing' in cssChoices %}
@import 'sizing';
{% endif %}
{% if 'fixed-width' in cssChoices %}
@import 'fixed-width';
{% endif %}
{% if 'list' in cssChoices %}
@import 'list';
{% endif %}
{% if 'bordered-pulled' in cssChoices %}
@import 'bordered-pulled';
{% endif %}
{% if 'animated' in cssChoices %}
@import 'animated';
{% endif %}
{% if 'rotated-flipped' in cssChoices %}
@import 'rotated-flipped';
{% endif %}
{% if 'stacked' in cssChoices %}
@import 'stacked';
{% endif %}
@import 'icons';
{% if 'screen-reader' in cssChoices %}
@import 'screen-reader';
{% endif %}
